/* Medium devices (tablets, 48em and up) */

@media (min-width: 768px) {
    .navbar-nav li ul.sub-menu,
    .navbar-nav li ul.sub-menu .sub-menu {
        border: 0;
        border-radius: 0;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
        transition: transform 1s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
        z-index: 100;
        list-style-type: none;
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
    }

    .navbar-nav li ul.sub-menu .sub-menu{
        top: 0;
        left: 100%;
    }

    .navbar-nav li:hover ul,
    .navbar-nav li ul.sub-menu li:hover .sub-menu{
        opacity: 1;
        -webkit-transform: rotateX(0) translateZ(0);
        transform: rotateX(0) translateZ(0);
    }

    .main-title{
        margin: 0 auto 40px; 
        width: 75%;
    }
}


/* Large devices (desktops, 62em and up)*/

@media (min-width: 992px) {
    .navbar-nav li ul.sub-menu {
        min-width: 225px;
    } 
}


/* Extra large devices (large desktops, 75em and up)*/

@media (min-width: 1200px) {
     .main-title{  width: 63%; }
}

@media (min-width: 1440px) {
    .featured-blog .bx-controls { left: -42%;}
}

@media (min-width: 1600px) {
    .featured-blog .bx-controls { left: -37%;}
}


/* Small devices*/

@media (max-width: 1199px) {
    body{ font-size: 14px; }
    h1 { font-size: 33px;}
    h2 { font-size: 28px;}
    h3 { font-size: 22px;}
    h4, blockquote, .featured-wrap.wrap h4, .box .price, .title .price, .lst-vw.top.full, blockquote  { font-size: 20px;}
    h5, .featured-wrap .price { font-size: 18px;}
    h6, .featured-wrap.wrap .price, .tags i, .contact-form form input, .contact-form form textarea {font-size: 16px;}

    .featured-wrap .content-wrap span, .service-list li, footer, .gd-vw .title, .agent-list { font-size: 13px;}

    .navbar-nav>li { margin-left: 7px;}

    .main-title h2 { margin-bottom: 20px; padding-bottom: 20px;}
    .sec-title h2, .sec-title h4 { margin: 0 0 20px;}
 
    .service-list li {  margin-bottom: 30px;}

    .featured-blog .bx-controls { left: -54%;}

    .filter-bar .col-md-10.col-sm-10.col-md-offset-1.col-sm-offset-1{ width: 100%; margin: 0; }
    .filter-bar.filter-bar-2 .form-group:last-child { width: 20%;}
    .filter-bar.filter-bar-2 .form-group:first-child { width: 16%;}

    .list-vw figure{ width: 44%; }
    .list-vw .content{ width: 48%; }

    .agent-single .lst-vw figure { width: 150px;}
    .agent-single .bottom { padding: 15px 20px;}

    .agent-single .content-wrap.left-space { margin-bottom: 20px; padding-left: 20px;}
    .lst-vw.top.full { margin-top: -90px;}
    .agent-single .lst-vw.top.full .bottom { margin-bottom: 0;}
    .blog-wrap { margin-top: -140px;}

    .inputfile-6 + label { width: 65%; }

    figure.four-img img{ width:500px;  }

    .gd-vw .info, .detail.info { padding: 10px;}

    .property-submit label{ font-size: 13px; }
    .property-submit textarea { height: 200px;}
}


/*============= Tablet =============*/

@media (max-width: 1024px) { 
    .pri-pad{ padding: 60px 0;}
    .pri-pad-b { padding-bottom: 60px;}
    .sec-pad { padding: 30px 0;}
    .sec-pad-b { padding-bottom: 30px; }
    .pb-0{ padding-bottom: 0px; }
    .blog-wrap { margin-top: 0;}

    h1, h2, h3, h4, h5, h6 { margin: 0 0 10px; }

    .mb-90, .mb-80 { margin-bottom: 60px; }

    .mb-70 { margin-bottom: 50px; }

    .mb-60 { margin-bottom: 45px; }

    .mb-50, .mb-55, 
    .banner-content .title.mb-80{ margin-bottom: 40px; }

    .mb-45, 
    .contact-form .form-group  { margin-bottom: 35px;}

    .mb-40{ margin-bottom: 30px; }

    .mb-30,
    .col-sm-4.ppt-info { margin-bottom: 20px; }

    .mb-20 { margin-bottom: 15px;}

    .mb-15 { margin-bottom: 10px;}

    p, .content-wrap { margin: 0 0 1.3em;}

    .mb-0{ margin-bottom: 0; } 

    .banner img, .blog-banner li img,
    ul.gallery-full img{ max-width: 150%; }

    .intro{ background-position: -550% 0; }

    .near-by-property.wrap2 .col-md-8.col-sm-8.mb-30 { margin-bottom: 20px;}  
    .near-by-property.wrap2 { padding-bottom: 42px;}

    .service-block .right-block { padding-top: 60px;    }

    ul.gallery-pager li {width: 78px;}

    .map-hold iframe{ height: 300px; }

    .blog-list-mesonary { margin-bottom: 35px;}
    .blog-single-parallax .box { padding: 30px; bottom: -130px; }

    footer .extra-info a + a { padding-left: 0;}
    .footer { padding: 15px 0; }
    .lst-vw .tag{ display: none; }
    .agent-list { padding: 10px; }
}

@media (max-width: 1024px) and (min-width: 992px) {}


@media (max-width: 992px) {
    .intro { background-position: -200% 0;}
}


@media (max-width: 991px) {
    .lst-vw h4 span,
    .agent-single .bottom{ font-size: 13px; }

    .navbar-brand { margin-right: 10px;}
    .navbar-nav>li { margin-left: 3px;}
    .navbar-nav li ul.sub-menu li a, .navbar-default .navbar-nav .open .dropdown-menu>li>a { padding: 10px 15px;}
     
    .service-block{ padding: 60px 0; }

    .featured-block .col-sm-4,
    .footer-top .col-sm-4,
    .footer-top .col-sm-2,
    .near-by-property.wrap2 .col-sm-4,
    .ppt-list-wrap .col-sm-4,
    .agent-list-wrap .col-sm-4,
    .col-md-4.col-sm-4.grid-item{ width: 50%; }

    .near-by-property.wrap2 .col-sm-4{ width: 53.5%; }
    .near-by-property.wrap2 .col-sm-4.big{ width: 46.5%; }

    .service-block .image-wrap,
    ul.gallery-pager{ display: none; } 

    .service-block .right-block { padding-top: 0;}
    ul.service-list { margin-bottom: -30px;}

    .service-block .right-block, 
    .near-by-property.wrap2 .col-sm-8,
    .subscription .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2,
    .list-vw figure, 
    .list-vw .content,
    .list-vw figure img,
    .col-sm-4.ppt-info,
    .col-sm-8.ppt-desc,
    .agent-box ul.info li,
    .agent-single .full .bottom,
    .gallery-wrap.full .banner-content .col-sm-8,
    .blog-single .col-md-10.col-sm-10.col-md-offset-1.col-sm-offset-1{ width: 100%; }

    .gallery-wrap.full.blog-banner .title, .banner2.featured-banner h2{ max-width: 100%; }

    .subscription .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2,
    .col-sm-8.ppt-desc .content-wrap,
    .near-by-property.wrap2 .col-sm-4.big,
    .property-wrap.mb-20,
    .agent-single .style1 .content-wrap,
    .blog-single .col-md-10.col-sm-10.col-md-offset-1.col-sm-offset-1,
    .contact-block .info-box div:last-child,
    .contact-form{ margin: 0; }

    .agent-block .col-sm-6{ width: 60%; }
    .extra-info a + a { padding-left: 50px; }
    footer .extra-info a{ display: block; }
    
    .footer-top .col-md-4.col-sm-4.mid-block{ margin-bottom: 25px; }
    .footer-link{ margin-bottom: -15px; } 

    .filter-bar button[type="submit"], .filter-bar input[type="submit"] { font-size: 15px; padding: 2em 1em; }
    .intro { background-position: 0% 0;} 

    .filter-bar.filter-bar-2 .form-group:first-child,
    .filter-bar.filter-bar-2 .form-group,
    .filter-bar.filter-bar-2 .form-group:last-child{ margin: 10px 0; padding: 0; width: 48%;}
    .filter-bar.filter-bar-2 .form-group:nth-child(even){ float: right; }
    .filter-bar .form-group.select:before{ content: none; }
    .filter-bar.filter-bar-2 .form-group.select:after { top: 11px; } 
    
    .list-vw figure, .list-vw .content{ margin: 0; } 
    .list-vw .content{ padding: 15px; }  
    .list-vw .info { padding: 0; }
    .list-vw .info ul {  width: 100%; border-bottom: 1px solid #dcdcdc; padding: 0 10px;}
    .list-vw .info li { font-size: 12px;}
    .list-vw .info li + li { margin-left: 8px; padding-left: 8px; }

    .info .btn.btn-link { margin: 10px; }

    .info .btn.btn-link,
    .agent-single .style1 a.pull-right.tel,
    .agent-single .style1 ul.social-icons.pull-right,
    .agent-single .style1 h4.pull-left{ float: none !important;}    

    .map-hold iframe { height: 300px;}

    .col-md-9.col-sm-9.left-block{ width: 65%; }
    .col-md-3.col-sm-3.sidebar{ width: 35%; }

    .sec-title.icon-wrap h2{ max-width: 85%; }    

    button[type="submit"], 
    .featured-wrap.wrap .btn.btn-link { padding: 1em 1.3em;}

    .amenities li { width: 49%;}

    .agent-box figure, .agent-box .content-wrap{ display: block; }
    .agent-box figure { margin: 0 0 20px; width: auto;}

    .agent-single .bottom { padding: 15px 22px;}

    .lst-vw figure { padding-right: 20px; width: 150px;}
    .agent-single .style1.lst-vw figure, 
    .agent-single .style1.lst-vw .wrap{ vertical-align: top; }
    .agent-single .style1 .bottom{ background: transparent; padding: 0 22px; margin: 0; }
    .agent-single .style1 .bottom div{ padding-top: 8px; display: block; } 
    .agent-single .style1 h4.pull-left{ margin-bottom: 8px; }

    .lst-vw.top.full { margin-top: -90px;}
    
    .blog-wrap { margin-top: 0;}
    .blog-list, .blog-list:nth-child(even) {  align-items: flex-start; }
    .blog-list .wrap { padding-left: 50px; }
    .blog-list:nth-child(even) .wrap { padding-right: 50px;}

    .blog-banner-full .bx-wrapper .bx-pager {  bottom: 20px;}
    .gallery-wrap.full .banner-content{ bottom: 20px; } 

    .blog-single-parallax .box { padding: 25px; width: 70%;  bottom: -130px;}

    .contact-block .info-box div { display: block; width: 100%;  margin-bottom: 35px;}
    .contact-block .info-box div span { margin-bottom: 10px; font-size: 30px;}

    .subscription button[type="submit"] { padding: 1em 2em;}

    .ppt-desc .box { min-height: initial;} 

    .property-submit input[type="text"], 
    .property-submit select,  
    .inputfile-6 + label { padding: 0.9em; height: 40px;}
    .property-submit select{ height: initial; }
    .inputfile-6 + label { width: 60%;}
    .inputfile-6 + label span.btn, .gallery-box span.btn { width: 125px; right: -135px; font-size: 14px;}
    .gallery-box span.btn{ width: initial; }

    .property-submit .checkbox-wrap { margin-bottom: 10px; font-size: 13px; }
    .property-submit .checkbox-wrap input + span:before { top: 2px; }

    .btn.btn-lg, 
    .comment-respond button[type="submit"], 
    .comment-respond input[type="submit"], 
    .contact-form button[type="submit"], 
    .contact-form input[type="submit"] { font-size: 14px; }
}


@media (max-width: 991px) and (min-width: 768px) {
    li.nav-btn,
    .featured-blog .bx-controls { display: none;}
}


@media screen and (max-width: 768px) {
    .agent-block{ background-position: 53% 100%; }
}


/*========= Mobile phones ===========*/

@media (max-width: 767px) {
    h1, .banner .box h5 {font-size: 25px;}
    h2{ font-size: 22px; }
    h3, .sec-title h4, .gallery-wrap.full .banner-content h2{ font-size: 20px; }
    h4, blockquote { font-size: 18px; }
    h5, .featured-wrap .price { font-size: 16px;}
    h6, .featured-wrap.wrap .price, .tags i { font-size: 15px;}

    .contact-form form input, .contact-form form textarea{ font-size: 14px; }

    input[type="date"], 
    input[type="time"], 
    input[type="datetime-local"], 
    input[type="week"], 
    input[type="month"], 
    input[type="text"], 
    input[type="email"], 
    input[type="url"], 
    input[type="password"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="number"], 
    textarea, button[type="submit"],
    select{ font-size: 13px; }

    .pri-pad{ padding: 50px 0;}
    .pri-pad-b { padding-bottom: 50px;}
    .sec-pad { padding: 25px 0;}
    .sec-pad-b, 
    .contact-block .top.pri-pad-b { padding-bottom: 25px; }

    .pb-0, 
    .near-by-property.wrap2{ padding-bottom: 0px; } 

    .featured-blog .wrap,
    .agent-box figure,
    .lst-vw figure,
    .agent-single .content-wrap.left-space,
    .agent-single .style1 .bottom,
    .agent-single .bottom,
    .blog-list .wrap,
    .blog-single-parallax .stuff,
    .agent-list-wrap .col-sm-4,
    .banner.banner2.featured-banner .container{ padding: 0; } 

    .col-md-9.col-sm-9.left-block{ margin-bottom: 30px; }

    .near-by-property .col-sm-8,
    .footer-top .col-sm-4, 
    .footer-top .mid-block,
    .left-block.ppt-info,
    h2.lh-normal.mb-40,
    .blog-list .figure-wrap{ margin-bottom: 20px; }

    .subscription .form-group,
    .near-by-property.wrap2 .col-sm-4,
    .near-by-property.wrap2 .col-sm-4.big,
    .form-group,
    .requtest-form .left,
    .requtest-form .right,
    .row.light-box-gallery a.col-sm-3,
    .agent-single .lst-vw figure{ margin-bottom: 10px; }

    .agent-block .main-title,
    .gd-vw .info ul, 
    .detail.info ul,
    .agent-single .content-wrap.left-space{ margin-bottom: 5px; }

    .subscription .form-group:last-child,
    .footer-link,
    .banner.banner2 .box h5,
    .filter-bar.filter-bar-2 .form-group:last-child,
    .ppt-list-wrap .col-sm-4:last-child,
    .gd-vw .btn,
    .row.light-box-gallery a.col-sm-3:last-child,
    .form-group:last-child,
    .agent-list-wrap.mb-20,
    .blog-banner-full ul.blog-banner h2,
    .blog-wrap,
    .banner-content .title.mb-80,
    .banner2.featured-banner h2{ margin: 0px; }

    .banner-content h1,
    .main-title h2,
    .sec-title.icon-wrap h3, 
    .sec-title h4{ line-height: 1.3; }

    .container,
    .banner-content, .banner-content .wrap{ width: 500px; }

    header, header.style2 .navbar{ padding: 10px 0; }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{ margin: 0; width: 150px; }    
    header.style2 .navbar-default .navbar-toggle.collapsed .icon-bar{ background-color: #27ae60; }
    .navbar-default .navbar-toggle .icon-bar,
    header.style2.scrolled .navbar-default .navbar-toggle.collapsed .icon-bar{ background-color: #fff;}
    
    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, .container>.navbar-header { margin-right: 0; margin-left: 0;}
    .navbar-default .navbar-collapse { border: 0; margin: 0; padding: 10px 0; width: 100%; text-align: center; background-color: #000; position: fixed; right: 0; height: 100% !important; top: 0; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); transform: translateX(100%); z-index: 100;}
    .navbar-default .navbar-collapse.in { transform: translateX(0);}
    .navbar-toggle .icon-bar:nth-child(2) { transform: rotate(45deg); top: 7px;}
    .navbar-toggle .icon-bar:nth-child(3) { opacity: 0;}
    .navbar-toggle .icon-bar:nth-child(4) { transform: rotate(-45deg); top: -5px;}

    ul.nav.navbar-nav { margin: 50px 0 0; float: none;}
    .navbar-nav>li { padding-right: 0;}
    .navbar-nav li ul.sub-menu { position: relative; min-width: initial; width: 100%;  border-radius: 0; margin-bottom: 20px; border: 0; background-color: #1c1c1c;}
    .navbar-nav li ul.sub-menu li { border-bottom: 1px solid #000; text-align: center;}
    .navbar-nav>li>a { padding: 10px 10px; }
    .navbar-nav>li.nav-btn { display: inline-block;}
    
    header.scrolled .navbar-default .navbar-nav li a:hover, 
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-nav li ul.sub-menu li a, 
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    header.style2 .navbar-default .navbar-nav>li>a,
    .banner .box h5 a{ color: #fff; }    

    .banner img, .blog-banner li img,
    ul.gallery-full img,
    .sec-title.icon-wrap h3, 
    .sec-title h4,
    .blog-banner-full ul.blog-banner h2,
    .blog-list .figure-wrap, .blog-list .wrap{ max-width: 100%; }

    .banner .form-group, .banner .form-group + .form-group { margin: 0 0 5px; width: 100%; display: block;}
    .banner .form-group.select:after{ line-height: 2.8; }
    .banner form input[type="text"], 
    .banner form select, 
    .banner form button[type="submit"], 
    .banner form button[type="submit"] {  height: inherit; padding: 0.68em 0.5em 0.65em; font-size: 13px;}

    .banner form button[type="submit"], 
    .banner form button[type="submit"] { padding: 0.72em 0.5em 0.65em; }

    .banner form input[type="text"]{ padding-left: 30px; }
    .banner .form-group.keyword:before, .banner .form-group.select:after{ line-height: 2.5; }

    .banner-content h1{ margin: 0; }    
    .banner-content .wrap .inner,
    .banner.banner2.featured-banner .banner-content .wrap .inner{ padding-top: 40px; }

    .banner-content .wrap .inner{ padding-left: 20px; padding-right: 20px; }
    .banner.banner2 .banner-slide .banner-content .wrap .inner{ padding-top: 0; }

    .banner .box { margin: 0; padding: 0; background: none; text-align: center;} 
    .banner .box h5 a:hover{ text-decoration: underline; }
    .banner.banner2 .overlay2:before { opacity: 0.5;}

    .gallery-wrap.full .banner-content { bottom: 10%;}

    .hide-mobile,
    .banner-content .box p,
    .box .price,
    .blog-banner-full .bx-wrapper .bx-pager,
    .banner-content .title p,
    .bx-wrapper .bx-pager,
    .banner .tag,
    .blog-single .btn-wrap,
    .featured-blog .bx-controls,
    .icon-hold,
    .bx-controls-direction{ display: none; }

    .main-title{ margin: -5px 0 30px; }
    .main-title h2 { padding-bottom: 15px; } 

    .service-list li,
    .featured-block .col-sm-4, 
    .footer-top .col-sm-4, 
    .footer-top .col-sm-2, 
    .near-by-property.wrap2 .col-sm-4, 
    .near-by-property.wrap2 .col-sm-4.big,
    .ppt-list-wrap .col-sm-4, 
    .agent-list-wrap .col-sm-4, 
    .col-md-4.col-sm-4.grid-item,
    .agent-block .col-sm-6,
    .featured-blog .col-sm-8,
    .subscription input,
    footer ul.social-icons,
    .box,
    .filter-bar .form-group,
    .col-md-9.col-sm-9.left-block,
    .col-md-3.col-sm-3.sidebar,
    .filter-bar.filter-bar-2 .form-group:first-child, 
    .filter-bar.filter-bar-2 .form-group, 
    .filter-bar.filter-bar-2 .form-group:last-child,
    .requtest-form .left,
    .requtest-form .right,
    .amenities li,
    .agent-box figure,
    .agent-box figure img,
    .agent-list img,
    .lst-vw figure,
    .agent-single .lst-vw figure,
    .agent-single .lst-vw figure img,
    .agent-single .bottom ul.social-icons,
    .blog-banner-full ul.blog-banner h2,
    .blog-list .figure-wrap, .blog-list .wrap,
    .ppt-list figure img,
    .featured-wrap figure img,
    .near-by-wrap figure img,
    .blog-list .figure-wrap figure img, 
    .blog-list .figure-wrap img{ width: 100%; }

    .col-md-9.col-sm-9.left-block,
    .col-md-3.col-sm-3.sidebar,
    .ppt-list-wrap .col-sm-4,
    .col-sm-4.left-block.ppt-info{ float: left; }

    .btn, .filter-bar.filter-bar-2 button[type="submit"], .filter-bar.filter-bar-2 input[type="submit"] { padding: 0.67em 1.5em;}

    .btn.btn-lg, 
    .comment-respond button[type="submit"], 
    .comment-respond input[type="submit"], 
    .contact-form button[type="submit"], 
    .contact-form input[type="submit"],
    .filter-bar button[type="submit"], 
    .filter-bar input[type="submit"], 
    .featured-wrap.wrap .btn.btn-link { font-size: 14px; padding: 0.8em 1.5em;}

    .service-block { padding: 48px 0 45px;}
    .service-list li .icon { max-width: 40px;}
    .service-list li{ padding-left: 55px; }
    .service-list li h5{ margin-bottom: 3px; }

    .extra-info a{ display: block;}
    .extra-info a + a {padding-left: 0;}

    .agent-block{ background: #fff; text-align: center; }

    .lst-vw.top.full { margin-top: 50px;}

    .agent-single .bottom, 
    .agent-single .lst-vw .wrap,
    .agent-single .lst-vw .wrap h4.text-white,
    .lst-vw.top.full .content-wrap i,
    .lst-vw.top.full .content-wrap a{ color: #242323; }

    .lst-vw.top .tel { padding-top: 0; display: block; width: 100%;}
    .agent-single ul.social-icons{ margin-top: 10px; }
    
    .testimonial{ background-size: 80px; }
    .testimonail-thumb { left: 30px;}
    .testimonail-thumb a { margin-right: 60px; width: 60px; }
    .testimonail-thumb a.active { left: 62px;}

    .featured-blog { padding-left: 15px; padding-right: 15px;} 

    .subscription .image,
    .intro{ background: #fff; }
    .subscription button[type="submit"] { padding: 0.9em 1.5em;}
    .subscription input{ min-width: initial; padding: 0.8em 1.5em; padding-left: 30px; }
    .subscription .email:before { top: 6px;}

    .filter-bar form { border: 1px solid #f1f1f1; margin-top: 30px; padding: 10px; box-shadow: none; }
    .filter-bar .form-group, 
    .filter-bar.filter-bar-2 .form-group:first-child, 
    .filter-bar.filter-bar-2 .form-group{ margin: 0 0 10px; }

    .filter-bar .form-group.select { padding-left: 0;}
    .filter-bar.filter-bar-2 form{ border: 0; padding: 0; margin: 0; }

    .sidebar-form input, .sidebar-form select { height: 40px; }

    .filter-bar.filter-bar-2 .form-group input[type="text"] { padding: 0.7em 1em; }
    
    .box,
    .agent-list{ padding: 15px; }
    .box-title { margin: -15px -15px 15px; padding: 15px 10px; }

    .gd-vw .info, .gd-vw .title { padding: 10px; } 

    .near-by-property.wrap2 .col-sm-4{ float: left; }
    .featured-wrap .content-wrap, .near-by-wrap .content-wrap { padding: 5px;}
    .featured-wrap .content-wrap{ min-height: initial; padding: 10px; }

    .featured-wrap .tag, .near-by-wrap .tag, .featured-blog .tag, .ppt-list .tag, .gallery-wrap .tag, .banner .tag, .blog-list-mesonary .tag{ top: 10px; }
    .featured-wrap .tag.left, .featured-blog .tag, .ppt-list .tag.left{ left: 10px;}
    .featured-wrap .tag.right, .ppt-list .tag.right{ right: 10px;}

    .near-by-wrap.wrap2 .content-wrap .title-wrap { vertical-align: middle; text-align: center;}
    
    .list-vw .content { padding: 15px;}
    .list-vw .info ul{ padding: 10px; }
    .list-vw .info li { width: 49%; padding: 0; }
    .list-vw .info li + li { margin-left: 0; padding-left: 0; border: 0;}

    .map-hold iframe { height: 200px;}

    .property-single .title span{ display: block; }
    .property-single .title .price,
    .title .price { display: inline-block; margin-top: 10px; text-align: center; padding: 10px 20px; font-size: 16px;}
    
    .property-single .title .price{ position: relative; }

    .checkbox-wrap{ margin-top: 0; }
    .checkbox-wrap input + span:before, .checkbox-wrap input{ top: 5px; }

    .row.light-box-gallery{ margin: 0; }
    .row.light-box-gallery a.col-sm-3{ display: block; width: 100%; padding: 0; }

    .lst-vw figure, 
    .lst-vw .wrap,
    .agent-single .bottom div,
    .blog-list{ display: block; }

    .blog-list .figure-wrap figure,
    .blog-list .figure-wrap{ left: 0; top: 0; border: 0; }

    .blog-list,
    .blog-list-mesonary { border-bottom: 1px solid #d5d5d5; margin-bottom: 30px; padding-bottom: 20px;}

    .bottom.border-box { padding: 15px 0 25px; }

    blockquote { margin: 20px 0;}   
    .blog-single-parallax .image{ background: none; }  
    .blog-single-parallax .image.overlay:before{ content: none; }
    .blog-single-parallax .box { padding: 20px; width: 100%; bottom: 0;}

    .blog-single .bottom .content-wrap { margin-top: 0;}
    ul.social-icons { width: 100%; margin-top: 10px;}

    .comment-list .avatar { width: 35px; height: 35px;}
    .comment-body {padding: 15px; margin-left: 60px;  }
    .comment-list .comment-content, .cmnt-bottom { font-size: 13px; }
    .cmnt-bottom{ font-size: 12px;  margin: 15px -15px -15px; padding: 5px 15px; }
    .cmnt-bottom .more{ position: initial; display: block; margin-top: 10px; }
    .comment-list li ul.comment-list{ padding-left: 0; }
    .comment-body:before { top: 8px; }

    .contact-form{ margin-top: 30px; }
    .contact-form .box { padding: 10px 15px; }
    .contact-form .box .box-title { margin: -10px -15px 0px; padding: 15px;}

    .contact-block .contact-left{ text-align: center; }
    .info .btn.btn-link{  margin: 0; padding: 10px; text-align: center; width: 100%; }

    footer h5{ margin-bottom: 5px; }
    .footer-link li { display: inline-block; width: 49%;}
    .footer{ margin-top: -10px; text-align: center; } 

    .comment-respond input[type="text"], .comment-respond input[type="email"] { padding: 0.8em 0.8em;}

    figure.four-img img { width: 250px;}

    .ppt-list { margin-bottom: 15px;}
    .row.ppt-list-wrap.mb-40 { margin-bottom: 10px;}
    .header-links li + li:before { margin: 0 5px 0 2px;}

    .header-info{ text-transform: capitalize; }

    .property-submit textarea { height: 100px; padding: 0.5em;}
}


@media (max-width: 540px) {
    .container,
    .banner-content, .banner-content .wrap { width: 100%;}
}


@media (max-width: 767px) and (min-width: 540px) {}


@media (max-width: 767px) and (min-width: 482px) {}


@media (max-width: 481px) {
    .banner img, .blog-banner li img, ul.gallery-full img { max-width: 650px;}
    .modal-dialog { width: 80%; }
    .modal-body .nav-tabs>li>a {  padding: 10px 0;  font-size: 14px; }
    .modal-body .tab-content { padding: 15px 15px 10px;}

    .modal-body input[type="text"], .modal-body input[type="password"] {padding: 0.8em 0.5em;}
    .modal-body .button-wrap .btn { min-width: initial; width: 100%;}
    .modal-body .or {margin: 10px;}
    .modal-social li a { padding: 7px 10px; font-size: 12px; }

    .property-submit .checkbox-wrap { font-size: 12px;}
    .property-submit .checkbox-wrap input + span:before {top: 0;}
    .property-submit .checkbox-wrap { width: 48%;}

    .inputfile-6 + label span.btn{ width: 110px; right: -120px;}
    .property-submit .js { margin-bottom: -7px;}

    .gallery-box { padding: 20px; font-size: 14px;}
    .gallery-box .or { margin: 10px 0; font-size: 15px; }
    .property-submit .map-hold{ margin-top: 5px; }

    .property-submit .form-group.mb-30,
    .property-submit .form-group{ margin-bottom: 15px; }
}


@media (max-width: 360px) {}


@media (max-width: 330px) {}
