/*======= primary color =======*/

a:hover,
.agent-title h4,
.extra-info a i,
.testi .author h6,
.primary-color,
.featured-blog-list li:hover h5 a,
header.style2 .navbar-default .navbar-nav>li>a:hover,
header.style2 .navbar-nav li.nav-btn a,
.box .price a.view-more,
.filter-bar .form-group label,
.filter-bar .form-group.select:after,
.btn.btn-border,
.featured-wrap.wrap .price,
.featured-wrap.wrap .btn.btn-link,
.sec-title h3 span,
.icon-hold a.btn:hover,
.icon-hold a.btn.active,
.info .btn.btn-link,
.gd-vw .title h5 a:hover,
.gd-vw:hover .title h5 a,
.amenities li:before,
.agent-list a.link,
.lst-vw.top i,
.blog-wrap .btn-link,
blockquote,
.tags,
.tags a,
.cmnt-bottom .more,
.contact-block .info-box div span,
.modal-body .nav-tabs>li.active>a,
.modal-body .nav-tabs>li.active>a:focus,
.modal-body .nav-tabs>li.active>a:hover,
.modal-body .nav-tabs>li>a:hover,
.modal-body .button-wrap .btn.btn-link,
.note a {
    color: #27ae60;
}


/*======= primary bg =======*/

.primary-bg,
.btn.btn-sucess,
input[type="submit"],
button[type="submit"],
.main-title h2:after,
ul.social-icons li a,
header.scrolled,
header.style2.scrolled .navbar,
.navbar-nav li.nav-btn a:hover,
.btn.btn-border:hover,
.featured-wrap.wrap .btn.btn-link:hover,
.featured-wrap.wrap:hover .btn.btn-link,
.filter-bar.filter-bar-2 .form-group.select:after,
.sec-title h3:after,
.sec-title h4:after,
.alert-message button[type="submit"]:hover,
.alert-message input[type="submit"]:hover,
.checkbox-wrap input:checked + span:before,
.blog-single .btn-wrap a span,
.blog-single .btn-wrap a:hover,
.ui-slider .ui-slider-handle,
.ui-widget-header,
.featured-blog .bx-wrapper .bx-controls-direction a:hover,
.modal-content button.close {
    background-color: #27ae60;
}

.btn.btn-sucess:hover,
input[type="submit"]:hover,
button[type="submit"]:hover,
header.scrolled .navbar-default .navbar-nav li.nav-btn a:hover,
a.primary-bg:hover,
.navbar-default .navbar-nav li.current-menu-item ul li a:hover,
.navbar-nav li ul.sub-menu li a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.gd-vw:hover .btn.btn-sucess,
.modal-content button.close:hover {
    background-color: #18924c;
}

header.style2 .navbar-nav li.nav-btn a,
.navbar-nav li.nav-btn a:hover,
header.style2.scrolled .navbar-nav li.nav-btn a:hover,
.btn.btn-border,
.icon-hold a.btn:hover,
.icon-hold a.btn.active,
ul.gallery-pager li a.active,
.checkbox-wrap input + span:before,
.blog-single .btn-wrap a,
.testimonail-thumb a.active,
.featured-blog .bx-wrapper .bx-controls-direction a:hover {
    border-color: #27ae60;
}


/*======= secondary bg =========*/

.bg-blue,
ul.social-icons li a:hover {
    background-color: #2d9be8;
}

a.bg-blue:hover {
    background-color: #1982cb;
}
